<ion-view view-title="预约挂号">
	<!-- <ion-content>
		<div class="list">

			<a class="item item-thumbnail-left" href="#/user/bxproduct">
				<img src="img/navicon/b1.JPG">
				<h2>浙江大学附属第一医院</h2>
				<p>类型：三甲医院</p>
				<p>特色：传染病学科 肝胆胰外科</p>
			</a>

			<a class="item item-thumbnail-left" href="#/user/bxproduct">
				<img src="img/navicon/b4.JPG">
				<h2>浙江大学医学院附属儿童医院</h2>
				<p>类型：三甲医院</p>
				<p>特色：儿科重症、新生儿、小儿消化、小儿呼吸、胸外科、血液肿瘤、儿童保健等</p>
			</a>
			<a class="item item-thumbnail-left" href="#/user/bxproduct">
				<img src="img/navicon/b5.JPG">
				<h2>浙江大学医学院附属第二医院</h2>
				<p>类型：三甲医院</p>
				<p>特色：肿瘤、眼科、心血管内科等</p>
			</a>
			<a class="item item-thumbnail-left" href="#/user/bxproduct">
				<img src="img/navicon/b2.JPG">
				<h2>浙江大学医学院附属邵逸夫医院</h2>
				<p>类型：三甲医院</p>
				<p>特色：微创腔镜、肿瘤多学科、生殖医学等</p>
			</a>
			<a class="item item-thumbnail-left" href="#/user/bxproduct">
				<img src="img/navicon/b3.JPG">
				<h2>浙江大学医学院附属妇产科医院</h2>
				<p>类型：三甲医院</p>
				<p>特色：妇科、妇科肿瘤科、产科、计划生育科等</p>
			</a>

		</div>
	</ion-content> -->
	<!-- <ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="账户" href="#/user/home">
      
    </ion-tab>
    <ion-tab title="消费"href="#/user/ConsList" badge="newConsNum" badge-style="badge-assertive" on-select="actions.clearConsBadge()" on-deselect="" ng-click="" hidden="" disabled="">
      
    </ion-tab>
   

    <ion-tab title="周边"href="#/user/around">
     
    </ion-tab>

  </ion-tabs> -->
  <ion-content>
		<div class="list">
		<a class="item item-thumbnail-left">
				<img src="img/navicon/b5.JPG">
				<h2>浙江大学医学院附属第二医院</h2>
				<p>类型：三甲医院</p>
				<p>特色：肿瘤、眼科、心血管内科等</p>
			</a>

		<a class="item" href="#/user/bxproduct">
			<h2>其他</h2>
		</a>
		<a class="item" href="#/user/bxproduct">
			<h2>全科医疗科</h2>
		</a>
		<a class="item" href="#/user/bxproduct">
			<h2>内科</h2>
		</a>
		<a class="item" href="#/user/bxproduct">
			<h2>外科</h2>
		</a>
		<a class="item" href="#/user/bxproduct">
			<h2>妇产科</h2>
		</a>
		<a class="item" href="#/user/bxproduct">
			<h2>妇女保健科</h2>
		</a>
		<a class="item" href="#/user/bxproduct">
			<h2>儿科</h2>
		</a>
		<a class="item" href="#/user/bxproduct">
			<h2>眼科</h2>
		</a>
		<a class="item" href="#/user/bxproduct">
			<h2>耳鼻咽喉科</h2>
		</a>
		<a class="item" href="#/user/bxproduct">
			<h2>口腔科</h2>
		</a>

		
    
			
			

			



		</div>
	</ion-content>

</ion-view>